@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

h3,
h2 {
  margin-bottom: 3px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 30px;
}

.balloon1 {
  margin-top: 60px;
  color: black;
  position: relative;
  width: 324px;
  height: 93px;
  background: #f7f7f7;
  border-radius: 20px;
}

.balloon2 {
  margin-top: 25px;
  color: black;
  position: relative;
  width: 324px;
  height: 209px;
  background: #e1efe2;
  border-radius: 20px;
}
.balloon1 h6 {
  margin: 20px;
  padding-top: 30px;

  font-size: 20px;
}

.balloon1::after {
  content: "";
  border-top: 0 solid transparent;
  border-left: 25px solid transparent;
  border-right: 0px solid #f7f7f7;
  border-bottom: 16px solid #f7f7f7;
  position: absolute;
  top: 60px;
  left: -18px;
}

.balloon2::after {
  content: "";
  border-top: 0 solid transparent;
  border-left: 0px solid #e1efe2;
  border-right: 25px solid transparent;
  border-bottom: 16px solid #e1efe2;
  position: absolute;
  top: 180px;
  left: 324px;
}

.balloon2 h6 {
  text-align: right;
  margin: 20px;
  padding-top: 24px;
  font-size: 20px;
}
